<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="mcfilter" name="McGraph Filter" schema="schema/mcfilter.exsd"/>
   <extension
         id="mcgraphview"
         name="MCGraph"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.mcgraph.view.McGraphView"
            icon="mcg.png">
      </view>
   </extension>
   <extension
         id="id1"
         name="name"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.mcgraph.internal.PidescoTool"
            description="Filter"
            hasState="false"
            icon="filter.png"
            view="pa.iscde.mcgraph.mcgraphview">
      </tool>
   </extension>

</plugin>
